

.pantry_cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    max-width: 80%;
}

.food_in_pantry {
    padding: 20px;
}

h2 {
    text-align: center;
}

.pantry_container {
    margin-left: 10%;
    margin-right: 10%;
}

.add_food_pantry {
    margin-right: 20px;
}

.mypantry_title {
    text-align: center;
    margin: 9px;
}

.mypantry_delete {
    margin-right: 10px;
}

/* .mypantry_delete_header {
    background-color: rgb(42, 141, 42);
    color: white;
} */
