.pantry_search {
    max-width: 20%;
    float: left;
}

.pantry_cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    max-width: 80%;
}

.food_card {
    
}

h2 {
    text-align: center;
}

.pantry_container {
    margin: 20px;
}