.make_now_btn {
    margin-top: 20px;

}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newRecipeForm {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    border: solid 2px grey;
    border-radius: 10px;
    padding: 20px;
    color: black;
    max-width: 70%;
  }

  .food_recipe_ingredient {
      border-color: transparent;
  }
  
  .recipe_card {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.recipe_title {
    text-align: center;
}

.recipe_img {
    min-height: 80%;
}

.recipe_ingredients {

}